.primaryButton {
  display: flex;
  align-items: center;
  gap: 11px;
  background-color: #674eae;
  color: #f1f0eb;
  border: 0;
  border-radius: 8px;
  width: fit-content;
  height: 44px;
  font-size: 16px;
  padding: 0 18px 0 24px;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: #443375;
  transition: 0.3s ease-in-out;
}

.primaryButton:active {
  background-color: #291b51;
}
