.natasha {
  height: 100%;
  width: 100%;
  max-width: 1232px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.6);
  padding: 30px 50px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  min-height: 90px;
  position: relative;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.2px;
  color: #443375;
  padding-bottom: 4px;
  align-self: start;
}

.input {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 2px solid rgba(0, 0, 0, 0.4);
  outline: none;
  width: 100%;
}

.input:focus {
  background-color: #fefefe;
  border: 2px solid #674eae;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.input:disabled::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.inputError {
  border: 2px solid #e62214;
}

.inputSuccess {
  background-color: #c8f9c2;
}

.textArea {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 2px solid rgba(0, 0, 0, 0.4);
  outline: none;
  width: 100%;
}

.textArea:focus {
  background-color: #fefefe;
  border: 2px solid #674eae;
}

.textArea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.textAreaError {
  border: 2px solid #e62214;
}

.textAreaSuccess {
  background-color: #c8f9c2;
}
.rowContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.span {
  font-weight: 500;
  font-size: 16px;
  color: #e62214;
}

.spanError {
  color: #e62214;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* padding-top: 4px; */
}
.message {
  color: #443375;
  font-weight: 500;
  font-size: 16px;
  max-width: 700px;
}

.recommendation {
  color: rgba(0, 0, 0, 0.6);
  text-decoration-line: underline;
}
