.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 64px 0 0;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.list {
  width: 100%;
  min-width: 900px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  height: fit-content;
  list-style-type: none;
  position: relative;
}

.list > li {
  margin-bottom: calc(64px - 16px);
}

.list > li:last-child {
  margin-bottom: 0;
}
