.eventDescription {
  width: 600px;
  margin-bottom: 217px;
  cursor: default;
}

.eventHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.eventName {
  width: 504px;
  margin-top: 0;
  font-weight: 700;
  line-height: 38.4px;
  font-size: 32px;
}

.eventFigures {
  display: flex;
  gap: 10px;
}

.eventFigure {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
  color: #797979;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.eventDates {
  display: flex;
  max-width: 600px;
  gap: 25px;
  padding: 0;
  color: #797979;
  padding: 2px 0 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.eventDate:first-of-type {
  list-style-type: none;
}

.eventDate:last-of-type {
  text-overflow: ellipsis;
}

.eventPrice {
  color: #674eae;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  padding: 19px 0 40px;
}
