.eventDescription {
  width: 600px;
}

.eventHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.eventName {
  font-weight: 700;
  line-height: 38.4px;
  font-size: 24px;
  width: 504px;
}

.eventFigures {
  display: flex;
  gap: 10px;
}

.eventFigure {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
  color: #797979;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.eventDates {
  display: flex;
  gap: 25px;
  padding: 0;
  color: #797979;
  padding-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.eventDate:first-child {
  list-style-type: none;
}

.eventPrice {
  color: #674eae;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  padding: 18px 0 40px;
}
