.container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 63px;
  width: 100%;
  color: #181818;
  max-width: 468px;
  cursor: default;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  margin: 0;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #525252;
}
