/* Страница: Главная */
.mainPageWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex-grow: 1;
  align-items: start;
  padding-top: 53px;
  position: relative;
  max-width: 1232px;
}

.mainPageListWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.searchResultPageWrapper {
  display: flex;
  gap: 136px;
  align-self: start;
  flex-grow: 1;
  padding: 20px 104px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.searchResultContainer {
  display: flex;
  flex-direction: column;
  gap: 124px;
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 120px;
}

/* Страница: Политика */
.policyPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
}

.cookiesPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
}

/* Страница: Избранное */
.favoritesPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  flex-grow: 1;
  padding: 64px 104px 0;
  width: 100%;
  min-height: calc(100vh - 113px - 152px);
}

.favoritesPageListContainer {
  padding-top: 56px;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.noFavoritesContainer {
  padding-top: 24px;
}

.noFavoritesText {
  color: #242424;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  padding-bottom: 20px;
}

.noFavoritesDesc {
  max-width: 721px;
  color: #797979;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 12px;
}

.noFavoritesLink {
  color: #674eae;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

/* Страница: Уведомления */
.notificationsPageWrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  flex-grow: 1;
  margin: 63px 0 0 104px;
}

/* Страница: Личный кабинет (стартовая) */
.accountTitle {
  margin: 63px 0 13px;
}

.accountPageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 64px;
}

.accountBlocks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1232px;
  margin-top: 60px;
  margin-bottom: 150px;
}

.accountGreeting {
  color: #525252;
}

.blockLink {
  text-decoration: none;
  color: #000000;
}

/* Страница: Личный кабинет (Персональная информация) */
.userInfo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  width: 1232px;
  gap: 110px;
  padding-top: 32px;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
}

/* Страница: 404 */
.notFound {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 113px - 64px);
  padding: 242px 142px 153px;
  background: url('./../images/404.svg') no-repeat;
  background-position-x: 104px;
  background-position-y: 113px;
  background-color: #e6e6e6;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
}

.notInfo {
  position: absolute;
  top: 114px;
  left: 418px;
}

.notTitle {
  color: #242424;
  margin: 0 0 16px;
}

.notBlock {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 25px;
  gap: 20px;
}

.notText {
  color: #242424;
  text-decoration: none;
  line-height: 25px;
}

.notInterests {
  width: 480px;
  margin: 36px 0 -5px;
  line-height: 25px;
}

.notLink {
  margin-left: 4px;
  text-underline-offset: 4px;
  color: #674eae;
}

/* Страница: Предпочтения */
.preferencesPageWrapper {
  display: flex;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 35.14%,
    #f8f7fa 35.28%,
    #f8f7fa 100%
  );
}

.asideBlock {
  width: 502px;
  margin: 32px 0 0 104px;
}

.asideTitle {
  width: 320px;
  font-size: 48px;
  line-height: 52.8px;
  color: #181818;
  cursor: default;
}

.asideText {
  width: 320px;
  margin: 64.5px 0 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  color: #39364f;
  cursor: default;
}

.tagsBlocks {
  display: flex;
  flex-direction: column;
  width: calc(100% - 502px);
  gap: 32px;
  margin: 64px 0 80px;
}

.filterField {
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 61px 0 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.filterList {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.filterItem {
  padding: 8px 40px 8px 15px;
  border: 1px solid #5b5b5b;
  border-radius: 100px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.filterItem:hover {
  color: #674eae;
}

.filterItem::before {
  content: '';
  position: absolute;
  top: 43%;
  right: 0;
  transform: translate(-50%) rotate(180deg);
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid #2a2630;
}

.filterSpan {
  position: absolute;
  left: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #797979;
}
