.header {
  width: 100%;
  /* max-width: 1232px; */
  height: 80px;
  background: white;
  display: flex;
  gap: 56px;
  flex-direction: column;
  justify-content: space-between;
}


.linksContainer {
  display: flex;
  justify-content: space-between;
}
/* .loggedIn {
  width: 100%;
  max-width: 1232px;
  height: 113px;
  width: 100%;
  /* max-width: 1232px; */
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
} */

.logoLink {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.24px;
  text-decoration: none;
  color: #000;
}

.logoSpan {
  color: #674eae;
}

.navigationBar {
  display: flex;
  align-items: center;
  gap: 56px;
}

.navLink {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.profile {
  background: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterButton {
  background: #181818;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
