.header {
  padding: 0 104px;
  width: 100%;
  /* max-width: 1232px; */
  height: 80px;
  background: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loggedIn {
  padding: 0 104px;
  width: 100%;
  /* max-width: 1232px; */
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.logoLink {
  font-weight: 700;
  font-size: 29px;
  line-height: 20px;
  letter-spacing: 0.24px;
  text-decoration: none;
  color: #000;
}

.navigationBar {
  display: flex;
  gap: 40px;
}

.navLink {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.profile {
  background: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterButton {
  background: #181818;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
