.footer {
  width: 100%;
  height: 64px;
  font-weight: 700;
  font-size: 12px;
  padding: 0 104px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background: #2a2630;
  cursor: default;
}

.footerList {
  display: flex;
  gap: 33px;
  margin-top: 10px;
  /* padding: 24px 0; */
}

.footerItem {
  padding-left: 15px;
  letter-spacing: -0.5px;
  color: #797979;
}

.footerItem:first-child {
  list-style-type: none;
}

.footerItem span {
  color: #f1f0eb;
  cursor: pointer;
}

.year {
  margin-right: 324px;
  color: #f1f0eb;
}
