.footer {
  width: 100%;
  height: 64px;
  font-weight: 799;
  font-size: 12px;
  line-height: 16px;
  padding: 0 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2a2630;
}

.footerList {
  display: flex;
  gap: 37px;
  color: #c9ccd8;
}

.footerItem {
  padding-left: 16px;
  color: #797979;
}

.footerItem:first-child {
  list-style-type: none;
}

.footerItem span {
  color: #c9ccd8;
  cursor: pointer;
}

.year {
  color: #f1f0eb;
}
