.filterForm {
  cursor: default;
}

.filterTitle {
  margin: 0 0 53px;
  font-size: 32px;
  color: #242424;
}

.filterList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 30px;
  /* padding-bottom: 30px;
  margin-bottom: 0; */
}

.itemTitle {
  font-size: 16px;
  font-weight: 500;
  color: #2a2630;
  margin-bottom: 25px;
}

.filterInput {
  width: 192px;
  height: 34px;
  border-radius: 20px;
  background: url('./../../images/Actions/loupe.svg') no-repeat;
  background-position-x: 12px;
  background-position-y: center;
  margin-bottom: 13px;
  padding-left: 40px;
  border: 0;
  box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
    0px 0px 1px rgba(36, 63, 97, 0.16);
  color: #2a2630;
}

.filterInput:focus {
  box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
    0px 0px 1px rgba(103, 78, 174, 0.3);
  outline: none;
}

.serchContainer {
  position: relative;
  width: 192px;
  max-height: 269px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -185%,
    #ffffff 100%
  );
  /* background: #ffffff; */
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
    0px 0px 1px rgba(36, 63, 97, 0.16);
  border-radius: 12px;
  margin-top: 16px;
  z-index: 10;
}

.serchContainer::after {
  position: absolute;
  content: '';
  width: 182px;
  height: 20px;
  bottom: 10px;
  left: 5px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -185%,
    #ffffff 100%
  );
  z-index: -1;
}

.findItem {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  mix-blend-mode: normal;
  z-index: 7;
}

.findItem:last-child {
  margin-bottom: 10px;
}

.lessBlock {
  margin-bottom: 10px;
}

.showMore {
  font-size: 12px;
  font-weight: 700;
  color: #674eae;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* КАСТОМНЫЙ ЧЕКБОКС */
.checkboxButton {
  display: none;
}

.checkboxLabel {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: 27px;
  padding-bottom: 16px;
  color: #797979;
  cursor: pointer;
}

.checkboxLabel:before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #797979;
  border-radius: 2px;
}

.checkboxLabel:hover:before {
  border-color: #674eae;
}

.checkboxButton:checked + .checkboxLabel:before {
  background: url('./../../images/Actions/Check.svg') no-repeat;
  background-position: center;
  background-color: #674eae;
  border-color: #674eae;
}

/* КАСТОМНЫЕ РАДИОКНОПКИ */
.radioButton {
  display: flex;
  /* gap: 10px; */
  color: #797979;
}

.radioButton input[type='radio'] {
  display: none;
}

.radioButton span {
  position: relative;
  padding-left: 28px;
  padding-bottom: 17px;
  cursor: pointer;
  color: #797979;
}

/* .radioButton span:last-of-type {
  padding-bottom: 0;
} */

.radioButton span:before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #797979;
  border-radius: 50%;
}

.radioButton span:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f1f0eb;
  display: none;
}

.radioButton input[type='radio']:checked + span:before {
  background-color: #674eae;
  border-color: #674eae;
}

.radioButton input[type='radio']:checked + span:after {
  display: block;
}

.radioButton:hover span:before {
  border-color: #674eae;
}

.pickdate {
  display: none;
  height: 34.39px;
}

.radioButton input[type='radio']:checked ~ .pickdate {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  border: none;
  color: #797979;
}

.radioButton input[type='radio']:checked ~ .radioText {
  display: none;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}

/* .buttonSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 123px;
  min-height: 44px;
  border: 1px solid #9E9E9E;
  border-radius: 8px;
  background-color: transparent;
  color: #797979;
  text-align: center;
  cursor: pointer;
}

.buttonImageSearch {
  margin-left: 11px;
} */

.buttonSearch {
  background: url('../../images/Arrows/arrow-right_gray.svg') no-repeat;
  background-position-x: 80px;
  background-position-y: center;
  background-color: transparent;
  color: #797979;
  border: 1px solid #797979;
  border-radius: 8px;
  width: 123px;
  min-height: 44px;
  font-size: 16px;
  text-align: left;
  padding-left: 24px;
  cursor: pointer;
  margin-top: 70px;
  margin-left: auto;
}

.buttonSearch:hover {
  background: url('../../images/Arrows/arrow-right_violet.svg') no-repeat;
  background-position-x: 80px;
  background-position-y: center;
  border: 1px solid #674eae;
  color: #674eae;
}

.buttonSearch:active {
  background: url('../../images/Arrows/arrow-right_white.svg') no-repeat;
  background-position-x: 80px;
  background-position-y: center;
  border: 1px solid #674eae;
  background-color: #674eae;
  color: white;
}
