.form {
  width: 608px;
  height: 56px;
  background: #fefefe;
  border-radius: 34px;
  display: flex;
  align-self: center;
  border: 2px solid #674eae;
}

.fieldset {
  width: 100%;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  gap: 19px;
  margin-left: 23px;
  padding: 0;
}

.icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.input {
  width: 70%;
  outline: none;
  border: none;
  color: #242424;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
}

.input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
